<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ field("dedipass_public", setting("dedipass_public"), "Dedipass public") }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ field("dedipass_secret", setting("dedipass_secret"), "Dedipass secret", {type: 'password'}) }}
    </div>
</div>